# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db